

header .inline-block {
    display: inline-block;
    vertical-align: top;
    float: left;
    padding: 0 20px;
    margin: 20px;
   
}





#logo {
    
}







nav {
    width: 73%;
    padding: 1%;
    margin-bottom: 50px;
    margin-left: 0%;
}

section {
    margin-top: 50px;
    width: 50%;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
}

button {
    background: lightslategray;
    height: 50px;
    width: 200px;
    border-radius: 25%;
}


footer {
    background-color: grey;
    height: 50px;
    margin-top: 50px;
}

footer .inline-block {
    display: inline-block;
    vertical-align: top;
    float: right;
    padding: 0 20px;
    margin: 20px;
}